<div class="sbuttons" style="padding: 20px;" *ngIf="showSmallButtons">

  <div class="d-grid gap-2 d-md-block" style="padding:5px;">
    <button class="btn btn-primary" type="button" style="padding: 25px;width:200px;background-color:green" routerLink="/computer">Computer</button>
    &nbsp;
    <button class="btn btn-primary" type="button" style="padding: 25px;width:200px;background-color:green" routerLink="/it">IT</button>
    &nbsp;
    <button class="btn btn-primary" type="button" style="padding: 25px;width:200px;background-color:green" routerLink="/entc">E&TC</button>
    &nbsp; 
    <button class="btn btn-primary" type="button" style="padding: 25px;width:200px;background-color:green" routerLink="/instrumentation">Instrumentation</button>
    &nbsp;
    <button class="btn btn-primary" type="button" style="padding: 25px;width:200px;background-color:green" routerLink="/mechanical">Mechanical</button>
    &nbsp;
    <button class="btn btn-primary" type="button" style="padding: 25px;width:200px;background-color:#1b3754" routerLink="/grid">Company Analysis</button>
  </div>

</div>
